<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit News</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
<div class="p-3 mb-2 bg-dark text-white">
    <h3>Edite News</h3>

    <form th:action="@{/news/update}" th:object="${newresultdb}" method="post">

        <div class="form-group col-md-2">
            <label for="News Id">News Id</label>
            <input type="text" id="News Id" class="form-control" th:field="*{resId}" readonly>
        </div>
        <br>
        <div class="form-group col-md-2">
            <label for="type">Type</label>
            <input type="text" id="type" class="form-control" th:field="*{type}">
        </div>
        <br>
        <div class="form-group col-md-2">
            <label for="sectionName">Section Name</label>
            <input type="text" id="sectionName" class="form-control" th:field="*{sectionName}">
        </div>
        <br>
        <div class="form-group col-md-8">
            <label for="Web title">Web title</label>
            <input type="text" class="form-control" id="Web title" th:field="*{webTitle}">
        </div>
        <br>
        <div class="form-group col-md-8">
            <label for="Web Url">Web Url</label>
            <input type="text" class="form-control" id="Web Url" th:field="*{webUrl}" readonly>
        </div>
          <button type="submit" class="btn btn-success" value="Save"> Save </button>
    </form>
</div>
</body>

</html>
